@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap");

.ScreenWrapper {
  background: url("../../static/bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  font-family: "Alegreya Sans SC", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding:2rem 0;
}

.elementXwrapper{
  margin-top: 100px;
}

.feed__container .feed__name h3,
p {
  color: white;
  text-shadow: black 3px 3px 3px;
}

.feed__container .feed__name h3 {
  font-size: 45px;
}

.feed__container button {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  border: 1px solid gray;
  box-shadow: black 3px 3px 3px;
  background-color: rgba(255, 255, 255, 0.61);
}

.AddingMemory {
  padding: 20px;
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.AddingMemory input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.AddingMemory button{
  padding:0.5rem 1rem;
  border:none;
  text-align:left;
  margin: 0;
  transition:0.5s;
  height:50px;
}
.AddingMemory button:hover{
  background-color:black;
  color:white;
  transition:0.5s;
}
.makeStyles-modal-1{
  width:50%;
  margin:0 auto;
}


@media only screen and (max-width:768px){
  .makeStyles-modal-1{
    height:50%;
    width:100%;
    margin:auto 0;
  }
}